<div class="not-found-page">
  <div class="not-found-page__content">
    <div class="not-found-page__title">
      <img class="not-found-page__title-img" src="./assets/not-found/logo.svg" alt="logo">
      <h3 class="not-found-page__title-text">Laboratorio</h3>
    </div>

    <mat-card class="not-found-page__card">
      <mat-card-content class="not-found-page__content">
        <h1 class="not-found-page__card-title">404</h1>

        <p class="not-found-page__card-sub-title">Oops. Parece que la página que buscas no existe</p>
        <p class="not-found-page__card-sub-title-second">Pero estamos aquí para llevarte al dashboard</p>

        <button class="not-found-page__card-button" mat-raised-button color="primary" [routerLink]="routes.DASHBOARD">Volver al inicio</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
