<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="row mt-4">
            <h3 style="text-align: center;">Descargar informe final para enviar al médico derivante</h3>
            <div class="row mt-1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button mat-flat-button color="primary" (click)="downloadFinalReport()">Descargar</button>
                </div>
            </div>
        </div>
    </div>
</div>