<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="1280px" fxFlex.xs="100%">
        <mat-card-title>Extracciones sin abonar</mat-card-title>
        <mat-card-content>
            <div class="row mt-4">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> N° de Estudio</th>
                        <td mat-cell *matCellDef="let element"> #{{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="patient">
                        <th mat-header-cell *matHeaderCellDef> Paciente </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName }} {{element.lastName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="extractionAmount">
                        <th mat-header-cell *matHeaderCellDef> Monto de extracción a abonar </th>
                        <td mat-cell *matCellDef="let element">{{element.extractionAmount }} </td>
                    </ng-container>
                    <ng-container matColumnDef="paid">
                        <th mat-header-cell *matHeaderCellDef> Pagar </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="selectFailedHandler(element)"
                                [checked]="selection.isSelected(element)"></mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="noDataRow" *matNoDataRow>
                        <td mat-cell colspan="6" class="text-center"> No hay extracciones sin abonar</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="row mt-3">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <form [formGroup]="paidExtractionFrom" autocomplete="off" novalidate (ngSubmit)="paid()">
                        <mat-form-field appearance="fill">
                            <mat-label>Monto total a abonar</mat-label>
                            <input matInput type="text" [value]="totalAmount" class="field">
                        </mat-form-field>
                        <mat-card-actions fxLayoutAlign="center center">
                            <button type="submit" mat-flat-button [disabled]="totalAmount <= 0"
                                color="primary">Abonar</button>
                        </mat-card-actions>
                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>