<mat-list>
  <mat-list-item routerLink="{{routes.PATIENT}}" routerLinkActive="active">
    <fa-icon [icon]="faPlusSquare" size="2x"></fa-icon> <span style="margin-left: 0.2em;">Pacientes</span>
  </mat-list-item>
  <mat-list-item routerLink="{{routes.STUDY}}" routerLinkActive="active">
    <fa-icon [icon]="faUserMd" size="2x"></fa-icon> <span style="margin-left: 0.2em;">Estudios</span>
  </mat-list-item>
  <mat-list-item routerLink="{{routes.SAMPLE_BATCH}}" routerLinkActive="active">
    <fa-icon [icon]="faFileMedical" size="2x"></fa-icon> <span style="margin-left: 0.2em;">Lotes de muestras</span>
  </mat-list-item>
  <mat-list-item routerLink="{{routes.GRAPHS}}" routerLinkActive="active">
    <fa-icon [icon]="faBars" size="2x"></fa-icon> <span style="margin-left: 0.2em;">Reports</span>
  </mat-list-item>
</mat-list>