<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="700px" fxFlex.xs="100%">
        <mat-card-title>{{(selectedEmployee.id!==undefined)?'Editar':'Crear nuevo'}} empleado
        </mat-card-title>
        <form [formGroup]="employeeForm" autocomplete="off" novalidate (ngSubmit)="updateEmployee()">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="firstName" [(ngModel)]="selectedEmployee.firstName"
                        class="field">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('firstName', 'required')">Nombre es requerido</mat-error>
                    <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" formControlName="lastName" [(ngModel)]="selectedEmployee.lastName"
                        class="field">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('lastName', 'required')">Apellido es requerido</mat-error>
                    <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" [(ngModel)]="selectedEmployee.user.email"
                        class="field">
                    <mat-hint align="end">Not more then 100 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Invalid email address</mat-error>
                    <mat-error *ngIf="hasError('email', 'maxlength')">You have more than 100 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput type="text" formControlName="username" [(ngModel)]="selectedEmployee.user.username"
                        class="field">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('lastName', 'required')">Nombre de usuario es requerido</mat-error>
                    <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" [(ngModel)]="selectedEmployee.user.password"
                        class="field">
                    <mat-error *ngIf="hasError('password', 'required')">Contraseña requerida</mat-error>
                </mat-form-field>
                <mat-card-actions fxLayoutAlign="center center">
                    <button type="submit" mat-flat-button [disabled]="!employeeForm.valid"
                        color="primary">{{(selectedEmployee.id!==undefined)?'Editar':'Crear'}}</button>
                    <button mat-raised-button *ngIf="selectedEmployee.id===undefined" color="basic"
                        (click)="clearEmployee()">Limpiar</button>
                    <a [routerLink]="['/app/employee/list']" mat-raised-button color="accent">Volver</a>
                </mat-card-actions>
            </mat-card-content>
        </form>
    </mat-card>
</section>
<div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>