<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="800px" fxFlex.xs="100%">
        <mat-card-title> Visualizar paciente </mat-card-title>
            <form [formGroup]="patientForm" >
                <mat-card-content>
                    <div class="container row mt-3">
                        <mat-card-subtitle>Datos del paciente</mat-card-subtitle>
                            
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" formControlName="firstName" [ngModel]="selectedPatient.firstName"
                                [readonly]="true" class="field">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido</mat-label>
                                <input matInput type="text" formControlName="lastName" [ngModel]="selectedPatient.lastName"
                                [readonly]="true" class="field">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="container row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Número de documento</mat-label>
                                <input matInput type="text" formControlName="dni" [ngModel]="selectedPatient.dni"
                                [readonly]="true" class="field">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput type="text" formControlName="birthDate" [ngModel]="selectedPatient.birthDate | date: 'yyyy/MM/dd'" (ngModelChange)="selectedPatient.birthDate=$event"
                                [readonly]="true" class="field">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="container row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Obra Social</mat-label>
                                <input matInput formControlName="healthInsurance" [ngModel]="selectedPatient.healthInsurance.name"
                                [readonly]="true" class="field" [value]="selectedPatient.healthInsurance.name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Número de afiliado</mat-label>
                                <input matInput type="text" formControlName="affiliateNumber" [ngModel]="selectedPatient.affiliateNumber"
                                [readonly]="true" class="field">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="container row">
                        <mat-form-field appearance="outline">
                            <mat-label>Historia clínica</mat-label>
                            <textarea matInput  formControlName="clinicHistory" [ngModel]="selectedPatient.clinicHistory"
                            [readonly]="true" class="field"></textarea>
                        </mat-form-field>
                    </div>

                    <div *ngIf="!younger">
                        <mat-card-subtitle>Datos de contacto</mat-card-subtitle>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Dirección</mat-label>
                            <input matInput type="text" formControlName="address" [(ngModel)]="selectedPatient.address"
                                class="field">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email" [(ngModel)]="selectedPatient.email"
                                class="field">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Teléfono</mat-label>
                            <input matInput type="text" formControlName="phone" [(ngModel)]="selectedPatient.phoneNumber"
                                class="field">
                        </mat-form-field>
                    </div>
                    <div *ngIf="younger">
                        <mat-card-subtitle>Tutor</mat-card-subtitle>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" formControlName="guardianFirstName" [(ngModel)]="selectedPatient.guardian.firstName"
                                class="field">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Apellido</mat-label>
                            <input matInput type="text" formControlName="guardianLastName" [(ngModel)]="selectedPatient.guardian.lastName"
                                class="field">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Dirección</mat-label>
                            <input matInput type="text" formControlName="guardianAddress" [(ngModel)]="selectedPatient.guardian.address"
                                class="field">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="guardianEmail" [(ngModel)]="selectedPatient.guardian.email"
                                class="field">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="inline">
                            <mat-label>Teléfono</mat-label>
                            <input matInput type="text" formControlName="guardianPhone" [(ngModel)]="selectedPatient.guardian.phoneNumber"
                                class="field">
                        </mat-form-field>
                    </div>
                    <mat-card-actions fxLayoutAlign="center center">
                        <button  mat-flat-button color="primary" (click)="redirectToUpdate(selectedPatient.id)">Editar</button>
                        <a [routerLink]="['/app/patient/list']" mat-raised-button color="accent">Volver</a>
                    </mat-card-actions>
                    

                </mat-card-content>
            </form>
    </mat-card>
</section>