<div class="row">
    <h3 style="text-align: center;">Reservar turno de extracción de muestra de sangre</h3>
    <form [formGroup]="appointmentForm" (ngSubmit)="createAppointment()">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Elegir día</mat-label>
                    <input matInput (dateInput)="changeDay()" [matDatepicker]="datepicker1" [min]="todayDate"
                        formControlName="date" [(ngModel)]="appointment.date" class="field">
                    <mat-datepicker #datepicker1></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                    <mat-error *ngIf="hasError('date', 'required')">Día es requerido</mat-error>
                    <mat-error *ngIf="hasError('date', 'dateAppointment')">Día sin turnos</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Elegir horario</mat-label>
                    <mat-select formControlName="time" [(ngModel)]="appointment.time">
                        <mat-option *ngFor="let time of times" [value]="time">
                            {{time}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="submit" mat-flat-button [disabled]="!appointmentForm.valid" color="primary">Confirmar
                    turno</button>
            </div>
        </div>
    </form>
</div>